[package]
name = "ic-stable-structures"
version = "0.5.4"
edition = "2021"
description = "A collection of data structures for fearless canister upgrades."
homepage = "https://docs.rs/ic-stable-structures"
documentation = "https://docs.rs/ic-stable-structures"
license = "Apache-2.0"
readme = "README.md"
keywords = ["internet-computer", "dfinity", "stable-structures"]
include = ["src", "Cargo.toml", "LICENSE", "README.md"]
repository = "https://github.com/dfinity/stable-structures"

[dev-dependencies]
criterion = "0.4.0"
ic-cdk = "0.6.8"
ic-cdk-macros = "0.6.8"
lazy_static = "1.4.0"
maplit = "1.0.2"
proptest = "1"
tempfile = "3.3.0"

[[bench]]
name = "benches"
harness = false
path = "benches/benches.rs"

[workspace]
members = [
  "benchmark-canisters"
]
