name: PR Slack Notification

on:
  pull_request:
    types: [opened, ready_for_review]

jobs:
  notify-slack:
    name: Notify Slack
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Sanitize PR title
        id: sanitize
        env:
          RAW_TITLE: ${{ github.event.pull_request.title }}
        run: |
          ESCAPED_TITLE=$(echo "$RAW_TITLE" \
            | sed 's/&/\&amp;/g' \
            | sed 's/</\&lt;/g' \
            | sed 's/>/\&gt;/g')
          echo "safe_title=$ESCAPED_TITLE" >> "$GITHUB_OUTPUT"

      - name: Post to a Slack channel
        uses: slackapi/slack-github-action@91efab103c0de0a537f72a35f6b8cda0ee76bf0a # v2.1.1
        with:
          method: chat.postMessage
          token: ${{ secrets.SLACK_API_TOKEN }}
          payload: |
            channel: eng-dsm-prs
            text: ":github: `${{ github.repository }}` <${{ github.event.pull_request.html_url }}|${{ steps.sanitize.outputs.safe_title }}>"
